.c-nav {

    &__item {
        color: $white;
        display: block;
        font-size: $font-size-5;
        padding-bottom: $grid-base * 0.75;
        padding-top: $grid-base * 0.75;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
}